*.meta
Library/
Packages/
Temp/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
ShiYuanProject.sln
UniRx.csproj
UniRx.Examples.csproj
UnityEditor.UI.csproj
UnityEngine.UI.csproj
.vscode/settings.json
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Assets/StreamingAssets/AVProVideoSamples/AlphaLeftRight.mp4
Assets/StreamingAssets/AVProVideoSamples/AlphaTopBottom.mp4
Assets/StreamingAssets/AVProVideoSamples/BigBuckBunny_360p30.mp3
Assets/StreamingAssets/AVProVideoSamples/BigBuckBunny_360p30.mp4
Assets/StreamingAssets/AVProVideoSamples/BigBuckBunny_720p30.mp4
Assets/StreamingAssets/AVProVideoSamples/FantasyStereoFB360.mkv
Assets/StreamingAssets/AVProVideoSamples/Sample180.mp4
Assets/StreamingAssets/AVProVideoSamples/SampleCube.mp4
Assets/StreamingAssets/AVProVideoSamples/SampleSphere.mp4
Assets/StreamingAssets/AVProVideoSamples/SampleSubtitles.srt
